/* ここにスタイルを追加 */
body {
  font-family: 'Arial', sans-serif;
  text-align: center;
}

.onigiri {
  width: 50px; /* 20pxだと少し小さかったので、50pxに変更してみました */
  cursor: pointer;
}

.label {
  display: block;
  margin-top: 5px;
}

#onigiris {
  display: flex;
  flex-wrap: wrap;  /* 要素を折り返す */
  justify-content: center; /* 中央寄せ */
}

.onigiri-container {
  flex: 0 0 33.33%;  /* 3列になるように指定 */
  max-width: 33.33%; /* 3列になるように指定 */
  box-sizing: border-box; /* ボーダーやパディングを含めたサイズに */
}

#onigiriShopImage {
  width: 100%; /* 画像の幅を調整 */
  max-width: 400px; /* 画像の最大幅を設定 */
  margin: 0 auto; /* 画像を中央に配置 */
  display: block; /* 画像をブロック要素として表示 */
}

#gameOverPopup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 80%;
  max-width: 300px;
}

#closePopup {
  margin-top: 10px;
  display: block;
  width: 100%;
}


button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

/* ホバーエフェクト */
button:hover {
  background-color: #7e95ae; /* 若干明るい色 */
  transform: scale(1.05); /* 少し大きく */
}

